body {
	margin-top: 40px;
}

form {
	margin: auto;
	display: block;
}

input {
	display: inline-block;
}

#grid > div {
	line-height: 70%;
	margin: auto;
}
#grid > div > div {
	width: 40px;
	height: 40px;
	border: solid 1px black;
	display: inline-block;
	margin: 4px;
}